// *
// * ----------------------------------------------------------------------------------------
// * Mixins for re-using common styles.
// * ----------------------------------------------------------------------------------------
// */

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  } //before, after
  &:after {
    clear: both;
  } //after
} //clearfix

@mixin line-heading{
  background-color: $heading-color;
  width: 30px;
  height: 2px;
  margin-bottom: 60px;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin button{
	padding: 15px 35px;
	text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

@mixin button-box-shadow-black{
  color: $heading-color;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 1px #939393, inset 0px 0px 0px 3px #e9e9e9, inset 0px 0px 0px 5px $text-color-dark;
  -moz-box-shadow: inset 0px 0px 0px 1px #939393, inset 0px 0px 0px 3px #e9e9e9, inset 0px 0px 0px 5px $text-color-dark;
  -webkit-box-shadow: inset 0px 0px 0px 1px #939393, inset 0px 0px 0px 3px #e9e9e9, inset 0px 0px 0px 5px $text-color-dark;
}

@mixin button-box-shadow-orange($color: #fff){
  color: $heading-color;
  background-color: $highlight-color;
  box-shadow: inset 0px 0px 0px 1px rgba( red($highlight-color), green($highlight-color), blue($highlight-color), 0.85), inset 0px 0px 0px 3px $color;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba( red($highlight-color), green($highlight-color), blue($highlight-color), 0.85), inset 0px 0px 0px 3px $color;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba( red($highlight-color), green($highlight-color), blue($highlight-color), 0.85), inset 0px 0px 0px 3px $color;
}

@mixin triangle($color: $highlight-color , $width: 65px, $height: 50px){
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height $width 0 0;
  border-color: $color transparent transparent transparent;
  line-height: 0px;
  _border-color: $color #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

@mixin grayscale-img(){
  //Internet Explorer 6 - 9
  filter: gray;
  
  //Chrome 19+
  -webkit-filter: grayscale(100%);
  
  //Firefox 10+
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  
  //Standard
  filter: grayscale(100%);
}

@mixin social-profiles{
  list-style: none;
  text-align: center;
  li{
    display: inline-block;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    a{
      font-size: 21px;
      color: $text-color;

      &.twitter:hover{
        color: #55ACEE;
      }

      &.facebook:hover{
        color: #3A5795;
      }

      &.dribbble:hover{
        color: #cd4378;
      }

      &.behance:hover{
        color: #0182ea;
      }

    }
  }
}