// *
// * ----------------------------------------------------------------------------------------
// *  Sass Variables (Colors, Fonts, Margin, Padding)
// * ----------------------------------------------------------------------------------------
// *

// Color Palette

$text-color 		: #787878;
$text-color-dark	: #444444;
$heading-color		: #000000;
$highlight-color 	: #fc854b;

$link-color			: $heading-color;
$link-hover-color	: $highlight-color;

$bg-color-light        : #FFFFFF;
$bg-color-light-gray   : #fafbfd;
$bg-color-dark         : #f1f1f1;

//Font variables
$fontfamily		  : 'Libre Baskerville', serif;
$fontfamily-fancy : 'Great Vibes', cursive;
$fontsize-normal  : 14px;
$h1-size: 42px;
$h2-size: 42px;
$h3-size: 42px;
$h4-size: 42px;
$h5-size: 42px;
$h6-size: 42px;

// Default Margin for Container;
$container-margin: 120px;