/**
 * ----------------------------------------------------------------------------------------
 * 06. About Section Styles.
 * ----------------------------------------------------------------------------------------
 */

section.rex-about{
	padding-top: $container-margin;
	background-color: $bg-color-light;
	figure{
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			padding: 0;
			margin: 0 auto;
		}
		figcaption{
			padding: 50px 70px;
			/* Horizontal Line */
			hr{
				width: 30px;
				height: 3px;
				margin: 25px 0;
				background-color: $heading-color;
			}
			/* Typography */
			h3, p{
				text-align: left;
			}
			h3{
				margin: 25px 0;
				margin-top: 0;
				color: $text-color-dark;
			}
			p{
				line-height: 1.8;
				margin: 0;
				margin-bottom: 10px;
			}
			/* List Styles */
			ul{
				margin-top: 40px;
				display: inline-block;
				list-style: none;
				margin-right: 100px;
				li{
					margin-bottom: 10px;
					cursor: pointer;

					&:hover i.fa{
						background-color: $highlight-color;
						color: $bg-color-light;
					}
				}
				/* icon style */
				i.fa{
					margin-right: 10px;
					color: $highlight-color;
					width: 40px;
					height: 40px;
					line-height: 40px;
					border-radius: 40px;
					text-align: center;
					border: 1px solid $highlight-color;
					transition: all 0.2s ease-in-out;
				}
			}
			/* Button Style */
			a{
				display: inline-block;
				margin-top: 40px;
				@include button;
				@include button-box-shadow-black;
				color: $text-color;
				transition: color 0.2s;

				&:hover{
					@include button-box-shadow-orange(#eaeaea);
					text-decoration: none;
				}
			}
		}
	}
}