/**
 * ----------------------------------------------------------------------------------------
 * 08. History Section Styles.
 * ----------------------------------------------------------------------------------------
 */

section.rex-our-history{
	/* history background pattern */
	background: url(../images/white_wall.png);
	div.container{
		margin-top: $container-margin;
		margin-bottom: $container-margin;
	}
	/* history details style */
	div.rex-history-details{
		/* horizontal line */
		hr{
			width: 30px;
			height: 2px;
			background-color: $heading-color;
			margin: 0;
			margin-top: 25px;
		}
		/* history text style */
		h3{
			text-align: left;
		}
		p{
			margin-top: 30px;
			margin-bottom: 45px;
			line-height: 1.8;
		}
		/* history button */
		a{
			display: inline-block;
			@include button;
			@include button-box-shadow-black;
			color: $text-color;
			transition: color 0.2s;

			&:hover{
				@include button-box-shadow-orange(#eaeaea);
				text-decoration: none;
				color: $bg-color-light;
			}
		}
	}
}