/**
 * ----------------------------------------------------------------------------------------
 * 03. Navigation styles.
 * ----------------------------------------------------------------------------------------
 */
/* Navigation Buttons */
div.rex-navigation{
 	text-align: right;
 	color: $text-color;

 	button#trigger-search {
 		border: none;
 		background: transparent;
 		outline: none;

 	}

 	button.trigger-nav {
 		padding: 5px 10px;
 		border: none;
 		color: $text-color-dark;
 		font-size: 1.5em;
 		background: transparent;
 		outline: none;
		position: relative;
		transition: all 0.3s;
		min-width: 40px;
		margin-top: 15px;
		margin-right: 0;
		transition: all 0.2s ease-out;
 	}
}
/* Header Search Form */
div.search-bar{
	display: inline-block;
	position: relative;
	top: 15px;
	height: 40px;
	padding: 0;

	input[type="text"] {
	  height: 40px;
	  display: inline-block;
	  border: none;
	  outline: none;
	  color: $text-color;
	  padding: 3px;
	  padding-right: 60px;
	  width: 0px;
	  position: absolute;
	  top: 0;
	  right: 0;
	  background: none;
	  z-index: 3;
	  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	  cursor: pointer;
	}

	input[type="text"]:focus:hover {
	  border-bottom: 1px solid #BBB;
	}

	input[type="text"]:focus {
	  width: 300px;
	  z-index: 1;
	  border-bottom: 1px solid #BBB;
	  cursor: text;
	}
	input[type="submit"] {
	  height: 40px;
	  outline: none;
	  width: 60px;
	  display: inline-block;
	  float: right;
	  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center right no-repeat;
	  background-size: 35%;
	  margin-right: 10px;
	  text-indent: -10000px;
	  border: none;
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 2;
	  cursor: pointer;
	  opacity: 0.4;
	  cursor: pointer;
	  transition: opacity .4s ease;
	}

	input[type="submit"]:hover {
	  opacity: 0.8;
	}
}
/*
 * Nav Bar Style
 */
div.rex-navbar{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba( red($highlight-color), green($highlight-color), blue($highlight-color), 0.9);
	z-index: 999999;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: auto;

	/* Navbar Overlay closing cross */
	.overlay-close {
		width: 80px;
		height: 80px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: url(../images/cross.png) no-repeat center center;
		text-indent: 200%;
		color: transparent;
		outline: none;
		z-index: 100;
	}
	/*
	 * Menu Style
	 */
	nav {
		text-align: center;
		text-transform: uppercase;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		position: relative;
		li {
			margin: 10px 0;
			display: block;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			a {
				display: block;
				padding: 10px;
				font-size: 24px;
				color: $bg-color-light;
				text-decoration: none;
				transition: all .2s ease;
				border: 1px solid transparent;
				&:hover,
				&:focus {
					text-decoration: none;
					color: $heading-color;
					border-color: $heading-color;
				}
			}

		}
	}

	/* Navigation Effects */
	&.overlay-door {
		visibility: hidden;
		width: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
		transition: width 0.5s 0.3s, visibility 0s 0.8s;
	}

	&.overlay-door.open {
		visibility: visible;
		width: 100%;
		-webkit-transition: width 0.5s;
		transition: width 0.5s;
	}

	&.overlay-door nav,
	&.overlay-door .overlay-close {
		opacity: 0;
		-webkit-transition: opacity 0.3s 0.5s;
		transition: opacity 0.3s 0.5s;
	}

	&.overlay-door.open nav,
	&.overlay-door.open .overlay-close {
		opacity: 1;
		-webkit-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}

	&.overlay-door.close nav,
	&.overlay-door.close .overlay-close {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
}