/**
 * ----------------------------------------------------------------------------------------
 * 18. Responsive Styles (Media Queries)
 * ----------------------------------------------------------------------------------------
 */

// Smaller than 992 px
@media (max-width: 992px) {
	section.container-fluid.slider{
		div.rex-heading{
			top: 30%;

			h1, span.rex-fancy-font{
				font-size: 2em;
				letter-spacing: 1px;
			}
			h1 span{
				margin-bottom: 0;
			}
			h3{
				font-size: 1.14em;
				display: none;
			}
			hr{
				display: none;
			}
		} 
	}
	section.rex-services{
		div.rex-service-image{
			margin-bottom: 40px;
		}
	}
	section.rex-about{
		figure{
			display: block;
		}
	}
	section.rex-works-showcase{
		.rex-modal{
			width: 80%;
			img{
				margin-top: 10px;
				margin: 0 auto;
				padding-bottom: 0 !important;
				padding-left: 0 !important;
				max-height: 370px;
			}
			figcaption{
				padding: 20px;
				h3{
					margin: 0;
					font-size: 14px;
				}
				h3,h4, hr{
					margin: 0;
					margin-bottom: 10px;
				}
				p{
					line-height: 1.2;
				}
			}
		}

	}

	// Portfolio Section
	section.rex-works-showcase{
		.rex-featured-portfolio{
			img{
				margin: 0 auto;
			}
		}
	}
	section.rex-team{
		position: initial;
		figure{
			z-index: initial;
			figcaption{
				background-color: $bg-color-dark;
			}
		}
		.rex-team-bg{
			display: none;
		}
	}

	section.rex-skills{

		.left img, .right img{
			margin: 0 auto;
		}
		.left{
			margin-bottom: 30px;
		}
		.right{
			margin-top: 30px;
			img{
				float: none;
			}
		}
	}

	section.rex-pricing{
		.container{width: 100%;}
		article{
			position: relative;
			margin-bottom: 480px;
			&:last-child{
				margin-bottom: 300px;
			}
			.col-pad{
				left: 50%;
				margin-right: -50% !important;
				transform: translateX(-50%)
			}
		}
	}

	section.rex-blog{
		div.rex-post{
			figure{
				max-height: 300px;
				span.triangle{
					display: none;
				}
			}
			article{
				margin: 50px 0;
			}
			&:nth-child(even){
				figure{
					float: none;
				}
			}
		}
	}
}

// Smaller than 767 px
@media (max-width: 767px) {
	// Header
	header.container-fluid{
		position: relative;

		&.rex-only-sticky, div.rex-sticky-wrapper, {
			min-height: 165px;
			&.is-sticky div.sticky-header{
				padding-top: 0;
				padding-bottom: 0;	
			}
		}

		background-color: #d9d9d9;
		div.rex-social-profiles{
			 ul.social-profiles{
				text-align: center;
			 }
		}
	}
	// Search Bar
	div.search-bar{
		float: right;
		input[type="text"]:focus {
			width: 220px;
			background-color: #fff;
			border: none;
			font-size: 10px;
		}
	}
	// Main nav bar
	div.rex-navbar{
		ul{
			padding: 20px 0;
			text-align: center;
			li{
				a{
					font-size: 18px;
					padding: 5px 10px;
				}
			}
		}
	}
	div.rex-navigation{
		top: -55px;
		text-align: center;
		margin-top: 0;
		padding-right: 0;
		button.trigger-nav{
			float: left;
			border: none;
		}

	}
	div.sticky-header{
		display: block;
		div.rex-navigation{
			top: 0;
			div.search-bar{
			}
			button.trigger-nav{
				border: none;
				margin-right: 0;
			}

		}

		h2.rex-brand{
			line-height: 1.5;
		}
	}
	// Slider Section
	section.container-fluid.slider{
		div.rex-parallax-image{
			min-height: 700px;
		}
		div.rex-heading{
			top: 15%;

			h1, span.rex-fancy-font{
				font-size: 1.71em;
			}
			h3{
				display: none;
			}
		}
		a.rex-scrool-down{
		  display: none;			
		}
	}
	// Skills Section
	section.rex-skills{
		background: none;
		div.col-md-6{
			margin: 0 15px;
		}
	}
	// Contact Section
	section.rex-contact{
		div.rex-contact-form{
			div.input-inline{
				div.form-group{
					width: 100%;
					float: none;
					input{
						width: 85%
					}

					&:first-child{
						margin: 0;
						margin-bottom: 30px;
					}
				}
			}
			div.form-group{
				textarea{
					width: 85%;
				}
			}
		}
	}
	// Portfolio Section
	section.rex-works-showcase{
		.rex-featured-portfolio{
			background-color: #fff;
			img{
				padding: 0;
				margin: 0 auto;
			}
		}
	}
	// Single Post Page
	section.rex-single-blog-post{
		div.rex-comments{
			div.rex-comment{
				&.thred-two{
					margin-left: 50px;
				}
			}
			div.rex-comments-meta{
				text-align: center;
			}
			div.right{
				text-align: center;
				float: none;
			}
		}
		div.rex-comment-form{
			div.input-small{
				width: 100%;
			}
			div.form-group{
				input, textarea{
					width: 90%;
				}
			}
			input.submit-btn{
				margin-left: auto;
				margin-right: auto;
			}
		}

		aside{
			text-align: center;

			h4{
				text-align: center;
			}

			hr{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	section.rex-features{
		.owl-carousel .owl-wrapper-outer{
			margin-left: 0;
		}
		
		div.feature-item{
			 .col-pad{
			 	margin-right: 0;
			 }
		}	
	}

	.hidden-xs {
		display: none !important;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
	div.search-bar{
		input[type="text"]:focus {
			width: 245px;
		}
	}
	// Contact Section
	section.rex-contact{
		div.rex-contact-form{
			div.form-group{
				textarea{
					width: 90%;
				}
			}
		}
	}
}


/* Medium width Devices */
@media (min-width: 320px) and (max-width: 599px) {
	// Slider Section
	section.container-fluid.slider{
		div.rex-parallax-image{
			min-height: 600px;
		}
		div.rex-heading{
			h1, span.rex-fancy-font{
				font-size: 1em;
			}
			span.rex-fancy-font{
				font-size: 1.6em;
			}
		}
	}
	section.rex-services{
		div.rex-service-image{
			min-height: 250px;
			margin-bottom: 20px;
			img{
				margin-bottom: 0;
				max-height: 250px;
			}
		}
		div.rex-service-tabs{
			margin-top: 10px;
			ul{
				li{
					padding: 0px;
					a{
						font-size: 10px;
					}
				}
			}
		}
	}
	section.rex-works-showcase {
		div.rex-portfolio-showcase {
			.rex-featured-portfolio{
				figcaption{
					padding-left: 30px;
				}
			}
		}
	}
	section.rex-single-blog-post{
		div.rex-comment-form{
			div.form-group{
				input, textarea{
					width: 82% !important;
				}
			}
			input.submit-btn{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

/* Small Height (mobiles, tabs, 700px and down) */
@media (max-height: 700px) {
	// Main nav bar
	div.rex-navbar{
		ul{
			li{
				margin: 0;
				a{
					font-size: 18px;
					padding: 5px 10px;
				}
			}
		}
	}
}

@media (max-width: 1199px) { 
	section.rex-works-showcase {
		div.rex-portfolio-showcase {
			div.rex-portfolios{
				figure:nth-last-child(2) {
				  clear: left;
				}
			}
		}
	}
}