/**
 * ----------------------------------------------------------------------------------------
 * 05. Service Section Styles.
 * ----------------------------------------------------------------------------------------
 */
section.rex-services{
	background-color: $bg-color-light;
	padding-bottom: $container-margin;
	padding-top: 120px;
	/* Service Image  */
	div.rex-service-image{
		min-height: 292px;
		text-align: center;
		img{
			display: none;
			max-height: 350px;
		}
	}
	/* Service Tabs */
	div.rex-service-tabs{
		padding: 0;
		ul{
			list-style: none;
			padding: 0;
			margin-top: 0;
			min-height: 140px;
			border-top: 1px solid #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
			position: relative;
			
			/* Service List Style */
			li{
				float: left;
				cursor: pointer;
				min-width: 33.333333333%;
				min-height: 140px;
				background-image: url(../images/border-arrow.png);
				background-position: right 0;
				background-repeat: no-repeat;
				/* Change border image on active tab */
				&.active{
					background-image: url(../images/border-arrow-active.png);
				}
				/* remove bg image for last tab */
				&:last-child{
					background-image: none;
				}
				/* tab link style */
				a{
					font-size: 1.14em;
					display: block;
					min-width: 25%;
					position: absolute;
					bottom: 20px;
					text-align: center;
					text-transform: uppercase;
					color: $text-color;
					letter-spacing: 2px;
					text-decoration: none;
				}
				/* tab link style on active */
				&.active a{
					color: $heading-color;
					img{
						opacity: 1;
					}
				}
				/* horizontal line style */
				hr{
					margin-left: auto;
					margin-right: auto;
					width: 30px;
					background-color: $text-color;
				}
				/* horizontal line style on active */
				&.active hr{
					background-color: $heading-color;
				}
				/* tab icon image style */
				img{
					margin: 0 auto;
					opacity: .5;
					transition: opacity .2s;
				}
			} // li

		} // ul

		div.tab-content{
			clear: left;
		}

		div.tab-pane{
			margin-top: 26px;
			p{
				line-height: 1.8;
			}
		}
	}
}