/**
 * ----------------------------------------------------------------------------------------
 * 13. Testimonial Section Styles.
 * ----------------------------------------------------------------------------------------
 */

section.rex-testimonial{
	background: url(../images/white_wall.png);
	div.container{
		margin: $container-margin auto;
	}
	/* Center Columnt and Text */
	div.col-md-6{
		float: none;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;
		cursor: url(../images/cusor-icon.png), auto;
	}
	/*
	 * Testimonial Figure
	 */
	figure{
		width: 100%;
		img{
			margin: 0 auto;
			margin-bottom: 25px;
		}

		figcaption{
			font-style: italic;
			letter-spacing: 3px;
			line-height: 200%;
		}
	}
	/* Horizontal Line */
	hr{
		background-color: #e0e0e0;
		max-height: 1px;
	}
	/*
	 * Testimonial Description
	 */
	div.description{
		margin-top: 40px;
		h4{
			margin: 0;
		}
		p{
			margin-top: 5px;
			margin-bottom: 0;
			letter-spacing: 2px;
			font-style: italic;
		}
	}
}